<!doctype html>
<html>
<head>
<title> Abonnements</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/src/images/favicon.ico">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-main">

  <header class="mb-5 relative bg-colheader h-20 border-b-4 border-black flex flex-col justify-center items-center">
    <a class="absolute left-2" href="/src/views/menu.html"><img class="w-20 h-16" src="/src/images/profil.png"></a>
    <a href="/src/index.html"><img class="w-20 h-16" src="/src/images/logo.png"></a>
    <a class="absolute right-2" href="/src/views/search.html"><img class="w-20 h-16" src="/src/images/loupe.png"></a>
  </header>

    <main class= "child:font-monkey flex flex-col items-center mb-8 child:mt-8 child:w-1/3 child:h-32 child:border-4 
        child:rounded-xl child:text-4xl">
        <button class="flex flex-row items-center bg-chaine-bleu" 
        style="box-shadow:10px 10px 11px 0px rgba(0,0,0,0.5), -10px -10px 15px 0px rgba(255,255,255,1)" 
        onclick="location.href='/src/views/chaine.html'"> 
            <img class="ml-8 rounded-full h-20 w-20 outline outline-4 mr-8" src="/src/images/ballon2.jpg">
            <div class="text-3xl">FootFan</div>
        </button>
        <button class="flex flex-row items-center bg-chaine-marron" 
        style="box-shadow:10px 10px 11px 0px rgba(0,0,0,0.5), -10px -10px 15px 0px rgba(255,255,255,1)" 
        onclick="location.href='/src/views/chaine.html'"> 
            <img class="ml-8 rounded-full h-20 w-20 outline outline-4 mr-8" src="/src/images/randonneur.jpg">
            <div class="text-3xl">Randonneur</div>
        </button>
        <button class="flex flex-row items-center bg-chaine-gris" 
        style="box-shadow:10px 10px 11px 0px rgba(0,0,0,0.5), -10px -10px 15px 0px rgba(255,255,255,1)" 
        onclick="location.href='/src/views/chaine.html'"> 
            <img class="ml-8 rounded-full h-20 w-20 outline outline-4 mr-8" src="/src/images/chatminia.jpg">
            <div class="text-3xl">Chats cools</div>
        </button>
        <button class="flex flex-row items-center bg-chaine-beige" 
        style="box-shadow:10px 10px 11px 0px rgba(0,0,0,0.5), -10px -10px 15px 0px rgba(255,255,255,1)" 
        onclick="location.href='/src/views/chaine.html'"> 
            <img class="ml-8 rounded-full h-20 w-20 outline outline-4 mr-8" src="/src/images/marto.jpg">
            <div class="text-3xl">Tutos</div>
        </button>
    </main>

</body>
</html>