<!doctype html>
<html>
<head>
  <title> Top 10 montagnes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/src/images/favicon.ico">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-main">

  <header class="mb-5 relative bg-colheader h-20 border-b-4 border-black flex flex-col justify-center items-center">
    <a class="absolute left-2" href="/src/views/menu.html"><img class="w-20 h-16" src="/src/images/profil.png"></a>
    <a href="/src/index.html"><img class="w-20 h-16" src="/src/images/logo.png"></a>
    <a class="absolute right-2" href="/src/views/search.html"><img class="w-20 h-16" src="/src/images/loupe.png"></a>
  </header>

<main class= "child:font-monkey flex flex-col items-center">

    <div class="w-1/3 z-3 outline outline-4 rounded-lg mb-12 mt-4 h-[500px]" 
    style="box-shadow:10px 10px 11px 0px rgba(0,0,0,0.5), -10px -10px 15px 0px rgba(255,255,255,1)"> 
            <img class="h-full" src="/src/images/montagne.jpg">
    </div>

    <div class=" w-1/5 flex flex-row justify-around">

    <button class="w-1/4 h-12 border-4 rounded-xl text-2xl bg-btn-vert mb-8 cursor-pointer" 
  style="box-shadow:5px 5px 11px 0px rgba(0,0,0,0.5), -5px -5px 15px 0px rgba(255,255,255,1)" 
    > 620 </button>

    <img class="rounded-full h-12 w-12 outline outline-4 cursor-pointer" 
    onclick="location.href='/src/views/chaine.html'" 
    style="box-shadow:5px 5px 6px 0px rgba(0,0,0,0.5), -5px -5px 6px 0px rgba(255,255,255,1)"
    src="/src/images/randonneur.jpg">

     <button class="w-1/4 h-12 border-4 rounded-xl text-2xl bg-btn-rouge cursor-pointer" 
  style="box-shadow:5px 5px 6px 0px rgba(0,0,0,0.5), -5px -5px 6px 0px rgba(255,255,255,1)" 
    > 4 </button>

    </div>

</main>
</body>
</html>